/*
 * @Author: ct
 * @Date: 2019-08-22 10:19:58
 * @Last Modified by: ct
 * @Last Modified time: 2019-09-29 16:58:34
 */
// commoncolor
$Primary:#f49b07;
$Success:#36C87E;
$Warning:#ffab00;
$Danger:#F53B53;
$Info:#FFEDCC;
$InputError:#f44337;
$SuccessHover:#56d78c;
$DangerHover:#f98893;

$MainText:#1F1F1F;
$RegularText:#4A4A4A;
$SecondaryText:#909090;
$PlaceholderText:#BDBDBD;
$Line:#E8E8E8;
$Bg:#F2F2F2;
$BgLight:#F2F2F2;
$White:#fff;
